<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report Card</title>
</head>
<body>
    <h1>Student Report Card</h1>
    <p>name:<%=student.name%></p>
    <p>grade:<%=student.grade%></p>
    <p>faviorate: <%=student.faviorate %></p>
</body>
</html>